  <h2>Modificar la reserva</h2>
  <div class="form contact-form container-md ">
    <form action="/admin/reservas/modificar" method="post">
      <div class="row mb-3">
        <div class="col-6">
          <label for="exampleFormControlInput1"  class="form-label">Nombre</label>
          <input type="Name" class="form-control" value="{{reserva.nombre}}" id="exampleFormControlInput1" name="nombre" placeholder="Nombre...">
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1"  class="form-label">Servicio a elegir</label>
          <select class="form-select" name="servicio"  aria-label="Default select example">
            <option selected>{{reserva.servicio}}</option>
            <option value="Tracking">Paracaidismo</option>
            <option value="Salto en bungee">Salto en bungee</option>
            <option value="Tirolesa">Tirolesa</option>
            <option value="Ski">Ski</option>
            <option value="Rafting">Rafting</option>
            <option value="Tracking">Tracking</option>
          </select>
        </div>

      </div>
      <div class="row mb-3">

        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Sucursal</label>
          <select class="form-select"  name="sucursal" aria-label="Default select example">
            <option selected value="San Rafael">{{reserva.sucursal}}</option>
            <option value="Merlo">San Rafael, Mendoza</option>
            <option value="Merlo">Merlo, San Luis</option>
            <option value="Bariloche">Bariloche, Rio Negro</option>
            <option value="Perito Moreno">Perito Moreno, Santa Cruz</option>

          </select>
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Horario a elegir</label>
          <input type="time" class="form-control" value="{{reserva.horario}}" id="exampleFormControlInput1" name="horario" placeholder="00:00">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Fecha a elegir</label>
          <input type="date" class="form-control" value="{{reserva.fecha}}" name="fecha" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Cantidad de personas</label>
          <input type="number" value="{{reserva.personas}}" class="form-control" id="exampleFormControlInput1" name="personas" placeholder="1">
        </div>
      </div>


      {{!-- <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="mensaje" rows="3"></textarea>
      </div> --}}

     <button type="submit" style="margin-top: 30px;"
          class="button-form btn-primary">Modificar</button>
    </form>
    {{#if error}}
    <p>{{message}}</p>
    {{/if}}
  </div>