<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p>Hola {{usuario}}!</p>
  <h3>Estas son tus reservas</h3>

  <div class="reservas-cuadro">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Sucursal</th>
          <th scope="col">Servicio</th>
          <th scope="col">Fecha</th>
          <th scope="col">Horario</th>
          <th scope="col">Personas</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each reservas}}
        <tr>
          <th scope="row"></th>
          <td>{{sucursal}}</td>
          <td>{{servicio}}</td>
          <td>{{fecha}}</td>
          <td>{{horario}}</td>
          <td>{{personas}}</td>
          <td><button><a href="/admin/reservas/modificar/{{id}}">Editar</a></button></td>
          <td><button><a href="/admin/reservas/eliminar/{{id}}">Cancelar</a></button></td>
        </tr>


        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <h2>¿Quieres reservar algun servicio?</h2>
  <h4>Llena el siguiente formulario</h4>
  <div class="form contact-form container-md ">
    <form action="/admin/reservas/agregar" method="post">
      <div class="row mb-3">
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Nombre</label>
          <input type="Name" class="form-control" id="exampleFormControlInput1" name="nombre" placeholder="Nombre...">
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Servicio a elegir</label>
          <select class="form-select" name="servicio" aria-label="Default select example">
            <option selected>Paracaidismo</option>
            <option value="Salto en bungee">Salto en bungee</option>
            <option value="Tirolesa">Tirolesa</option>
            <option value="Ski">Ski</option>
            <option value="Rafting">Rafting</option>
            <option value="Tracking">Tracking</option>
          </select>
        </div>

      </div>
      <div class="row mb-3">

        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Sucursal</label>
          <select class="form-select" name="sucursal" aria-label="Default select example">
            <option selected value="San Rafael">San Rafael, Mendoza</option>
            <option value="Merlo">Merlo, San Luis</option>
            <option value="Bariloche">Bariloche, Rio Negro</option>
            <option value="Perito Moreno">Perito Moreno, Santa Cruz</option>

          </select>
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Horario a elegir</label>
          <input type="time" class="form-control" id="exampleFormControlInput1" name="horario" placeholder="00:00">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Fecha a elegir</label>
          <input type="date" class="form-control" name="fecha" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Cantidad de personas</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" name="personas" placeholder="1">
        </div>
      </div>


      {{!-- <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="mensaje" rows="3"></textarea>
      </div> --}}

      <a href="/admin/reservas/agregar"><button style="margin-top: 30px;"
          class="button-form btn-primary">Reservar</button></a>
    </form>
    {{#if error}}
    <p>{{message}}</p>
    {{/if}}
  </div>

</body>

</html>